node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
.idea
# Logs
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
coverage
*.lcov
.nyc_output
jspm_packages/
.npm
.eslintcache
*.tgz
dist
.serverless/
.dynamodb/
.nvmrc
.aws-sam
.scannerwork
test-report.xml

/functions/*/lib/
/libraries/*/lib/

*.toml

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo
*.tsbuildinfo

example_files
.vscode
private
integration-test-setup/docker/dynamodb/shared-local-instance.db
junit.xml
scripts/files/output
scripts/personal/*